
.formacaoTecnica{
    display: flex;
    flex-direction: column;
}


.formacaoTecnica .tools ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.formacaoTecnica .tools ul li img{
    max-width: 50px;
    margin: 0 .5rem;
}

.graduacao{
    display: flex;
    flex-direction: column;
}

.phd{
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px){
    .skills{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}